.left-form {
  position: fixed;
  top: 20;
  left: 0;
  width: 200px;
  background-color: white;

}

.right-form {
  position: fixed;
  top: 20;
  right: 0;
  width: 200px;
  background-color: white;

}

.main-body {
  padding-bottom: 48px;
  padding-top: 60px;
}

.highlight {
  background-color: #B3EDB7;
}

.modal-header {
  margin-bottom: 0px;
}

.modal-footer {
  margin-top: 0px;
}

.mark {
  padding: .2em;
  background-color: #B3EDB7;
}

.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}


.user-panel-normal {
  cursor: pointer;
}

