{% load static from staticfiles %}<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="tinymol chemical informatical services">
  <meta name="author" content="tinymol">

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                 <link rel="shortcut icon" href="ico/favicon.png">

  <title>{% block title %}TinyMol{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
  <link href="{% static "bootstrap-modal/css/bootstrap-modal-bs3patch.css" %}" rel="stylesheet">
  <link href="{% static "bootstrap-modal/css/bootstrap-modal.css" %}" rel="stylesheet">
  <link href="{% static "Font-Awesome/css/font-awesome.min.css" %}" rel="stylesheet">

  <link href="{% static "tinymol/css/tinymol.css" %}" rel="stylesheet">
  {% block extra_css %}{% endblock %}

</head>

<body>
  <div class="page-container">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div>
            <a class="navbar-brand" href="http://www.tinymol.com" title="www.tinymol.com">
              <img alt="." src="{% static "tinymol/ico/favicon.png"%}" width="24">
            </a>
            <a href="/" class="navbar-brand" title="home">
              Tinymol
            </a>
            {% block brand %}{% endblock %}
          </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="user-panel user-panel-anonymous">
            <a href="#dlg-login" role="button" data-toggle="modal"><i class="fa fa-user"></i> 登录</a>
          </li>
          <li class="user-panel user-panel-anonymous">
            <a href="#register"><i class="fa fa-edit"></i> 注册</a>
          </li>
          <li class="user-panel user-panel-normal">
            <a data-toggle="dropdown">
              欢迎登录，<span id="user-label">{{user.username}}</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a role="menuitem" tabindex="-1"><i class="fa fa-laptop"></i> 个人控制台</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1"><i class="fa fa-key"></i> 修改密码</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="logout($event)"><i class="fa fa-power-off"></i> 注销</a></li>
            </ul>
          </li>
        </ul>

        {% block navbar %}{% endblock %}

        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div ng-view>
    </div>

    <footer class="container">
      <hr/>
      <div class="row">
        <div class="col-xs-4">
          <p><a href="#">法律声明</a> | <a href="#">用户指南</a> | <a href="#">网站地图</a> | <a href="#about">联系我们</a> </p>
        </div>
        <div class="col-xs-8">
          <p class="text-right">苏州智光信息科技有限公司 &copy; 2005~2015·版权所有 | 苏ICP备15010841号</p>
        </div>
      </div>
    </footer>

    <div id="dlg-login" class="modal fade">
      <div class="modal-header well">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i class="fa fa-user"></i> 登 录</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" data-toggle="validator">
          <div class="form-group">
            <label for="username" class="col-sm-3 control-label">用户名</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" name="username" placeholder="用户名" pattern="email">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-3 control-label">密 码</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" name="password" placeholder="密 码" data-minlength="8">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="keep-login" checked="true"/> 保持登录
                </label>
              </div>
            </div>
            <div class="col-sm-3" style="margin-top: 7px;">
              <a href="#dlg-reset-password" role="button" data-toggle="modal" data-target="#dlg-reset-password">
                <i class="fa fa-question-circle"></i> 忘记密码？
              </a>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="btn-login">
          <i class="fa fa-user"></i> 登 录
        </button>
      </div>
    </div>  <!-- #dlg-login -->

    <div id="dlg-reset-password" class="modal fade">
      <div class="modal-header well">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i class="fa fa-user"></i> 忘记密码</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="email" class="col-sm-3 control-label">电子邮件</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" name="email" placeholder="e-Mail">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="validate-code">验 证 码</label>
            <div class="col-sm-5">
              <input type="text" name="validate-code" placeholder="验 证 码" class="form-control"
                title="请输入右图中的元素符号"/>
            </div>
            <div class="col-sm-4">
              <image class="captcha" src="/madlee/captcha.png" title="看不清？点击更换新图片。" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">
          <i class="fa fa-user"></i> 发送密码重置邮件
        </button>
      </div>
    </div>  <!-- #dlg-reset-password -->


    {% block extra_dlg %}{% endblock %}
  </div>
  <!-- ====== JavaScript ===== -->
  <script src="{% static "jquery-1.11.1.min.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  <script src="{% static "bootstrap-modal/js/bootstrap-modal.js" %}"></script>
  <script src="{% static "bootstrap-modal/js/bootstrap-modalmanager.js" %}"></script>
  
  <script src="{% static "angular-1.3.16/angular.js" %}"></script>
  <script src="{% static "angular-1.3.16/angular-route.js" %}"></script>
  <script src="{% static "angular-1.3.16/angular-resource.js" %}"></script>

  <script src="{% static "bootstrap-validator-master/dist/validator.min.js" %}"></script>

  {% block extra_js %}{% endblock %}

  <script src="{% static "requireJS/require.js" %}" {% block main_js %}{% endblock %}></script>

</body>
</html>
