{% load static from staticfiles %}<div class="homepage jumbotron main-body">
  <div class="container">
      <h1><img src="{%static "tinymol/img/tinymol.png" %}"alt="TinyMol" /></h1>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row homepage">
    <div class="col-xs-4">
      <h2>化学品注册</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="/tinymol/vendors/index.html" role="button">点我 点我 点我 &raquo;</a></p>
    </div>
    <div class="col-xs-4">
      <h2>分子卡牌</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="/tinymol/cards/index.html" role="button">点我 点我 点我 &raquo;</a></p>
    </div>
    <div class="col-xs-4">
      <h2>更多产品</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button" disabled>Is comming .... &raquo;</a></p>
    </div>
  </div>
</div>
