/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.panel-card {
  border-color: #D6E9C6;
}

.panel-card > .panel-heading {
  color: #3C763D;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  font-weight: bold;
}

.panel-card > .panel-heading > a {
  color: #3C763D;
}


.panel-card > .panel-footer {
  font-size: 12px;
}

a {
  cursor: pointer;
  color: #3C763D;
}

a:hover {
  color: #7e7;
  text-decoration: none;
}


.hr-2 {
  margin-bottom: 15px;
  border-top: 2px solid #3C763D;
  margin-top: 15px;
}

a.editable-click {
  text-decoration: none;
  color: #3C763D;
  border-bottom: none;
}

a.editable-click:hover {
  color: #7e7;
  text-decoration: none;
}

.panel-height-1 {
  height: 120px; 
  overflow-y:scroll;
}

.panel-height-2 {
  height: 240px; 
  overflow-y:scroll;
}

.panel-height-3 {
  height: 360px; 
  overflow-y:scroll;
}

.panel-height-4 {
  height: 480px; 
  overflow-y:scroll;
}

.panel-height-5 {
  height: 600px; 
  overflow-y:scroll;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.rating span.star:hover {
  cursor: pointer;
}
.rating span.star:before {
  content: "\f006";
  padding-right: 5px;
  color: #777777;
}
.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before {
  content: "\f005";
  color: #3C763D;
}

.board-introduce {
  height: 120px; 
  overflow-y:scroll;
}