<div class="row">
  <div class="col-sm-12 board-title">
    <a href="#/new-board" class="btn btn-success btn-lg pull-right">
      <i class="fa fa-slideshare"></i> New Board
    </a>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="panel panel-success"  ng-repeat="record in boards.results">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#/board/{[{record.id}]}">
            <i class="fa fa-slideshare"></i> 
            <strong>{[{record.name}]}</strong>
          </a>
        </h4>
      </div>
      <div class="panel-body board-introduce">
        <blockquote>
          <a href="#/board/{[{record.id}]}">{[{record.note}]}</a>
          <footer>Created by {[{record.author.full_name}]} in 
            <cite>{[{record.timestamp0|from_now}]}</cite>
          </footer>
        </blockquote>
      </div>
      <div class="panel-footer">
        <span title="There are 73 compounds."><i class="icon tinymol-benzene-2"></i> 73 compounds</span>
        <span title="There are 84 users."><i class="fa fa-users"></i> 84 members</span>
        <span class="pull-right"><i class="fa fa-comments-o"></i> by madlee @ </span>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <i class="fa fa-slideshare"></i> 
          <strong>Add New Board</strong>
        </h4>
      </div>
      <div class="panel-body board-introduce">
        <a href="#/new-board">
          <i class="fa fa-plus-circle fa-4x"></i> 
          <span style="font-size: 55px;">New board</span>
        </a>
      </div>
      <div class="panel-footer">
        <span>Click the icon to add new board</span>
      </div>
    </div>
  </div>
</div>

