<div class="row">
  <div class="col-sm-12">
    <h1>
      {[{record.name}]}
      <small>Created by {[{record.author.full_name}]} {[{record.timestamp0|from_now}]}</small>
    </h1>
  </div>
  
  <div class="col-sm-10 form-inline" aria-label="...">
    <div class="form-group" role="group">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-columns"></i> Columns <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a ng-click="set_panel_width(12);">
              <i class="fa fa-times"></i> 1 Column
            </a>
            <a ng-click="set_panel_width(6);">
              <i class="fa fa-times"></i> 2 Columns
            </a>
            <a ng-click="set_panel_width(4);">
              <i class="fa fa-times"></i> 3 Columns
            </a>
            <a ng-click="set_panel_width(3);">
              <i class="fa fa-times"></i> 4 Columns
            </a>
            <a ng-click="set_panel_width(2);">
              <i class="fa fa-times"></i> 6 Columns
            </a>
            <a ng-click="set_panel_width(1);">
              <i class="fa fa-times"></i> 12 Columns
            </a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-arrows-v"></i> Hight <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a ng-click="set_panel_height(1);">1</a>
          </li>
          <li>
            <a ng-click="set_panel_height(2);">2</a>
          </li>
          <li>
            <a ng-click="set_panel_height(3);">3</a>
          </li>
          <li>
            <a ng-click="set_panel_height(4);">4</a>
          </li>
          <li>
            <a ng-click="set_panel_height(5);">5</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-eye"></i> View <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a ><i class="fa fa-flask"></i> Structure</a>
          </li>
          <li>
            <a ><i class="fa fa-th-list"></i> Property</a>
          </li>
          <li>
            <a ><i class="fa fa-comments-o"></i> Comment</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-sort-amount-desc"></i> Order by <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a ><i class="fa fa-star-o"></i> Rate</a>
          </li>
          <li>
            <a ><i class="fa fa-comment-o"></i> Last Comment</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group" role="group">
      <div class="input-group">
        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-2 btn-toolbar" role="toolbar" aria-label="...">
    <button type="button" class="btn btn-success btn-lg pull-right">
      <i class="fa fa-plus"></i> Add Molecule
    </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 hr-2 rule-12"></div>
  <div class="col-sm-6 rule-6"></div>
  <div class="col-sm-6 rule"></div>
  <div class="col-sm-4 rule-4"></div>
  <div class="col-sm-4 rule"></div>
  <div class="col-sm-4 rule"></div>
  <div class="col-sm-3 rule-3"></div>
  <div class="col-sm-3 rule"></div>
  <div class="col-sm-3 rule"></div>
  <div class="col-sm-3 rule"></div>
  <div class="col-sm-2 rule-2"></div>
  <div class="col-sm-2 rule"></div>
  <div class="col-sm-2 rule"></div>
  <div class="col-sm-2 rule"></div>
  <div class="col-sm-2 rule"></div>
  <div class="col-sm-2 rule"></div>
  <div class="col-sm-1 rule-1"></div>
  <div class="col-sm-1 rule"></div>
  <div class="col-sm-1 rule"></div>
  <div class="col-sm-1 rule"></div>
  <div class="col-sm-1 rule"></div>
  <div class="col-sm-1 rule"></div>
  <div class="col-sm-1 rule"></div>
  <div class="col-sm-1 rule"></div>
  <div class="col-sm-1 rule"></div>
  <div class="col-sm-1 rule"></div>
  <div class="col-sm-1 rule"></div>
  <div class="col-sm-1 rule"></div>
  

  <div ng-class="'col-sm-'+panel_width" ng-repeat="mol in mols.results">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title"><strong>{[{mol.name}]}</strong></h4>
      </div>
      <div class="panel-body">
        <div>
          <canvas class="mol-canvas" width='300' height='120' tinymol="mol">
          </canvas>
        </div>
        <div ng-class="'panel-height-'+panel_height" class="hr-2">
          <table class="table  table-striped table-condensed">
            <tr ng-repeat="code in mol.properties">
              <td title="{[{code.type}]}"><strong>{[{code.type}]}: </strong></td>
              <td>{[{code.value}]}</td>
            </tr>
          </table>
        </div>
        <div ng-class="'panel-height-'+panel_height" class="hr-2">
          <ul>
            <li ng-repeat="record in mol.comments">
              {[{record.comment}]}
              <br>
              <small>
                ---- By {[{record.author.full_name}]} {[{record.timestamp0|from_now}]}
              </small>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="panel-footer">
        <span>{[{(mol.rate.avg | fixed_n:1) || "----"}]}</span>
        <span class="rating">
          <span class="star" ng-click="set_rate(mol.id, 5)"></span><span class="star" ng-click="set_rate(mol.id, 4)"></span><span class="star" ng-click="set_rate(mol.id, 3)"></span><span class="star" ng-click="set_rate(mol.id, 2)"></span><span class="star" ng-click="set_rate(mol.id, 1)"></span>
        </span>
        <span>
          <a ng-click="add_comment($event, mol.id)">
            <strong><i class="fa fa-edit pull-right"></i></strong>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<div id="dlg-input-comment" class="modal fade">
    <div class="modal-header well">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="fa fa-comment-o"></i> 添加评论</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-sm-12">
            <textarea class="form-control" rows="10" ng-model="current_comment"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" ng-click="submit_comment($event)">
        <i class="fa fa-save"></i> 提  交
      </button>
    </div>
  </div>  <!-- #dlg-login -->