<div class="row">
  <div class="col-md-12">
    <h1>
      <a editable-text="record.name" blur="submit">{[{record.name}]}</a>
      <small>Created by {[{record.author.full_name}]} on {[{record.timestamp0|from_now}]}</small>
      <a class="btn btn-success btn-lg pull-right" ng-click="save()">
        <i class="fa fa-floppy-o"></i> Save
      </a>
    </h1>
  </div>
  <div class="col-md-12">
    <pre><a editable-textarea="record.note" blur="submit" e-rows="5" e-cols="60">{[{record.note}]}</a></pre>
  </div>

  <div class="col-md-12">
    <div role="tabpanel" id="my-tabs">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#members" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-users"></i> Members
          </a>
        </li>
        <li role="presentation">
          <a href="#compounds" aria-controls="profile" role="tab" data-toggle="tab">
            <i class="fa fa-flask"></i> Compounds
          </a>
        </li>
        <li role="presentation">
          <a href="#properties" aria-controls="messages" role="tab" data-toggle="tab">
            <i class="fa fa-tags"></i> Properties
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="members">
          <table class="table">
            <caption><h3>Members</h3></caption>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="compounds">
          <table class="table">
            <caption><h3>Compounds</h3></caption>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="properties">
          <form class="form">
            <select class="form-control" ng-model="record.mol_name" ng-options="tag.label for tag in name_tags">
            </select>
          </form>
          <table class="table">
            <caption><h3>Properties</h3></caption>
          </table>
          <thead></thead>

        </div>
      </div>

    </div>
  </div>
</div>