{% load static from staticfiles %}<!DOCTYPE html>
<html lang="en" ng-app="tmcardsApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "tinymol/ico/favicon.png"%}">

    <title>Tinymol Cards</title>

    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-modal/css/bootstrap-modal-bs3patch.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-modal/css/bootstrap-modal.css" %}" rel="stylesheet">

    <link href="{% static "Font-Awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "angular-xeditable/css/xeditable.css" %}" rel="stylesheet">
    <link href="{% static "tinymol/cards/css/tinymol.cards.css" %}" rel="stylesheet">
    <link href="{% static "tinymol/fonts/styles.css" %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.tinymol.com" title="www.tinymol.com">
            <img alt="." src="{% static "tinymol/ico/favicon.png"%}" width="24">
          </a>
          <a class="navbar-brand" href="#">Tinymol &bull; Cards</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right" ng-ctrl="UserCtrl">
            <li><a><i class="fa fa-user"></i> Welcome, <span id="user-label">{{user.username}}</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid" ng-view>


    </div><!-- /.container -->

    <div id="tinymol-dlg-structure-search" class="modal fade" data-width="580">
    <div class="modal-header well" style="margin-bottom:0px">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">结构检索</h4>
    </div>
    <div>
      <div id="editor" style="width:578px;height:360px">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group">
            <button type="button" class="btn btn-default tinymol-new"
              data-toggle="tooltip" data-placement="bottom" title="新建">
              <span class="fa fa-file"></span>
            </button>
            <button type="button" class="btn btn-default tinymol-open"
            data-toggle="modal" data-target="#tinymol-dlg-open-mol" title="打开">
              <span class="fa fa-folder-open"></span>
            </button>
            <button type="button" class="btn btn-default tinymol-save"
              data-toggle="tooltip" data-placement="bottom" title="下载">
              <span class="fa fa-download"></span>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default tinymol-undo"
              data-toggle="tooltip" data-placement="bottom" title="撤销">
              <span class="fa fa-undo"></span>
            </button>
            <button type="button" class="btn btn-default tinymol-redo"
              data-toggle="tooltip" data-placement="bottom" title="重复">
              <span class="fa fa-repeat"></span>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default tinymol-cut"
              data-toggle="tooltip" data-placement="bottom" title="剪切">
              <span class="fa fa-cut"></span>
            </button>
            <button type="button" class="btn btn-default tinymol-copy"
              data-toggle="tooltip" data-placement="bottom" title="复制">
              <span class="fa fa-copy"></span>
            </button>
            <button type="button" class="btn btn-default tinymol-paste"
              data-toggle="tooltip" data-placement="bottom" title="粘贴">
              <span class="fa fa-paste"></span>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default tinymol-zoom-in"
              data-toggle="tooltip" data-placement="bottom" title="放大">
              <span class="fa fa-search-plus"></span>
            </button>
            <button type="button" class="btn btn-default tinymol-zoom-out"
              data-toggle="tooltip" data-placement="bottom" title="缩小">
              <span class="fa fa-search-minus"></span>
            </button>
            <button type="button" class="btn btn-default tinymol-reset"
              data-toggle="tooltip" data-placement="bottom" title="重置">
              <span class="glyphicon glyphicon-screenshot"></span>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default tinymol-check"
              data-toggle="tooltip" data-placement="bottom" title="检查">
              <span class="fa fa-stethoscope"></span>
            </button>
            <button type="button" class="btn btn-default tinymol-refine"
              data-toggle="tooltip" data-placement="bottom" title="优化">
              <span class="fa fa-medkit"></span>
            </button>
          </div>
        </div>

        <div class="btn-group-vertical" style="float:left">
          <button type="button" class="btn btn-default tinymol-selector"
            data-toggle="tooltip" data-placement="right" title="选择">
            <span class="fa fa-location-arrow"></span>
          </button>

          <button type="button" class="btn btn-default tinymol-navigator"
            data-toggle="tooltip" data-placement="right" title="移动">
            <span class="fa fa-arrows-alt"></span>
          </button>

          <button type="button" class="btn btn-default tinymol-pencil"
            data-toggle="tooltip" data-placement="right" title="绘制">
            <span class="fa fa-pencil"></span>
          </button>

          <button type="button" class="btn btn-default tinymol-eraser"
            data-toggle="tooltip" data-placement="right" title="橡皮">
            <span class="fa fa-eraser"></span>
          </button>

          <button type="button" class="btn btn-default tinymol-chain"
            data-toggle="tooltip" data-placement="right" title="长链">
            <span class="fa fa-chain"></span>
          </button>

          <button type="button" class="btn btn-default tinymol-positive-charge"
            data-toggle="tooltip" data-placement="right" title="正电荷">
            <span class="fa fa-plus"></span>
          </button>

          <button type="button" class="btn btn-default tinymol-negitive-charge"
            data-toggle="tooltip" data-placement="right" title="负电荷">
            <span class="fa fa-minus"></span>
          </button>
        </div>
        <canvas width="300" height="240" class="tinymol-canvas"></canvas>
        <div class="btn-group-vertical tinymol-templates" style="float:right">
          <button type="button" class="btn btn-default"><canvas width="18" height="20"></canvas></button>
          <button type="button" class="btn btn-default"><canvas width="18" height="20"></canvas></button>
          <button type="button" class="btn btn-default"><canvas width="18" height="20"></canvas></button>
          <button type="button" class="btn btn-default"><canvas width="18" height="20"></canvas></button>
          <button type="button" class="btn btn-default"><canvas width="18" height="20"></canvas></button>
          <button type="button" class="btn btn-default"><canvas width="18" height="20"></canvas></button>
          <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="更多模板">...</button>
        </div>
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group elements">
            <button type="button" class="btn btn-default">C</button>
            <button type="button" class="btn btn-default">N</button>
            <button type="button" class="btn btn-default">O</button>
            <button type="button" class="btn btn-default">S</button>
            <button type="button" class="btn btn-default">P</button>
            <button type="button" class="btn btn-default">Cl</button>
            <button type="button" class="btn btn-default">H</button>
            <button type="button" class="btn btn-default">F</button>
            <button type="button" class="btn btn-default">Br</button>
            <button type="button" class="btn btn-default">I</button>
            <button type="button" class="btn btn-default">Na</button>
            <button type="button" class="btn btn-default">K</button>
            <button type="button" class="btn btn-default">Ca</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default tinymol-periodic-table"
              data-toggle="modal" data-target="#tinymol-dlg-periodic-table" title="元素周期表">
              ...
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" style="margin-top:0px">
      <div class="btn-group">
        <button type="button" class="btn btn-success tinymol-ss-submit" data-dismiss="modal" method="sss">
          <span class="glyphicon glyphicon-search"></span> <span class="title">子结构检索</span>
        </button>
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" class="tinymol-ss" method="fss">全结构检索</a></li>
          <li><a href="#" class="tinymol-ss" method="sss">子结构检索</a></li>
          <li><a href="#" class="tinymol-ss" method="sim90">相似性&gt;90%</a></li>
          <li><a href="#" class="tinymol-ss" method="sim80">相似性&gt;80%</a></li>
          <li><a href="#" class="tinymol-ss" method="sim60">相似性&gt;60%</a></li>
        </ul>
      </div>
    </div>
  </div> <!-- #tinymol-dlg-structure-search -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap-modal/js/bootstrap-modal.js" %}"></script>
    <script src="{% static "bootstrap-modal/js/bootstrap-modalmanager.js" %}"></script>
    <script src="{% static "bootstrap-modal/js/bootstrap-modal.bs3.js" %}"></script>

    <script src="{% static "moment/min/moment.min.js" %}"></script>

    <script src="{% static "angular/angular.js" %}"></script>
    <script src="{% static "angular/angular-route.js" %}"></script>
    <script src="{% static "angular/angular-resource.js" %}"></script>

    <script src="{% static "ui-bootstrap-tpls-0.11.2.min.js" %}"></script>    
    <script src="{% static "angular-xeditable/js/xeditable.js" %}"></script>

    <script src="{% static "madlee/js/madlee.1.js" %}"></script>
    <script src="{% static "tinymol/js/tinymol.editor.js" %}"></script>

    <script src="{% static "tinymol/cards/js/tinymol.cards.js" %}"></script>
  </body>
</html>
