<style>
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
<form class="form-signin " role="form">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="txt-username" class="sr-only">Username</label>
  <input type="text" id="txt-username" class="form-control" placeholder="Username" required autofocus>
  <label for="txt-password" class="sr-only">Password</label>
  <input type="password" id="txt-password" class="form-control" placeholder="Password" required>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me" id="chk_remember_me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" ng-click="login();">Sign in</button>
</form>

