@charset "UTF-8";

@font-face {
  font-family: "tinymol";
  src:url("fonts/tinymol.eot");
  src:url("fonts/tinymol.eot?#iefix") format("embedded-opentype"),
    url("fonts/tinymol.woff") format("woff"),
    url("fonts/tinymol.ttf") format("truetype"),
    url("fonts/tinymol.svg#tinymol") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tinymol" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tinymol-"]:before,
[class*=" tinymol-"]:before {
  font-family: "tinymol" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tinymol-benzene:before {
  content: "\e000";
}
.tinymol-bond-up:before {
  content: "\e001";
}
.tinymol-ring3:before {
  content: "\e002";
}
.tinymol-ring4:before {
  content: "\e003";
}
.tinymol-benzene-2:before {
  content: "\e004";
}
.tinymol-ring-5:before {
  content: "\e005";
}
